#root {
  max-width: 1440px;
  margin: auto;
}

#welcome {
  max-width: 900px;
  margin-inline: auto;
  text-align: center;
}

#welcome p {
  text-align: center;
  font-size: 1rem;
}

.create-acc-btn,
.login-btn {
  margin-inline: 0.5rem;
}

.create-acc-btn:hover,
.login-btn:hover {
  font-weight: 600;
}

#register {
  max-width: 700px;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  background: #fafcfd;
  border-radius: 0.2rem;
  box-shadow: -1px 2px 10px #d0d0d0;
}

@media (width<=620px) {
  #register {
    margin-inline: 0.5rem;
  }
}

.wrapper {
  padding-block: 0.5rem;
  margin-block: 0.5rem;
}

.wrapper .required-field {
  color: #f00;
}

.form-field {
  max-width: 680px;
  width: 90%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  outline: none;
  border: 1px solid #cfcfcf;
}

.error-field {
  color: #f00;
  font-size: 0.86rem;
}

.submit {
  padding: 0.4rem;
  max-width: 120px;
  width: 100%;
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 0.2rem;
  cursor: pointer;
}

.submit:hover {
  background: #f1f1f1;
  color: #000;
}

#login {
  max-width: 680px;
  margin-top: 2rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: 1px solid #d0d0d0;
  border-radius: 0.2rem;
}

@media (width <= 620px) {
  #login {
    margin-inline: 0.5rem;
  }
}

#users-preview {
  max-width: 900px;
  margin-inline: auto;
  border: 1px solid #d0d0d0;
}

#users-preview > header {
  max-width: 600px;
  margin-inline: auto;
  padding-block: 1rem;
  text-align: center;
}

.pagination {
  min-height: 40px;
  margin-bottom: 1rem;
  border: 1px solid #cfcfcf;
  border-right: none;
  border-left: none;
  padding: 0.2rem;
}

.pagination .actions {
  border-left: 1px solid #cfcfcf;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  /* background: red; */
  float: right;
}

.pagination-arrow {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: #596c7d;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.pagination-arrow:hover {
  background: #1c2d3608;
  border-radius: 100%;
}

.new-user {
  clear: both;
  padding: 0.3rem 0.5rem;
  float: right;
  margin-right: 2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.new-user:hover {
  border-radius: 360px;
  background: #ebebeb;
}

.new-user-icon {
  margin-top: 0.1rem;
  color: rgba(0, 0, 0, 0.87);
}

.user-list-main-container {
  clear: both;
  border: 1px solid #cfcfcf;
  border-radius: 0.2rem;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.cols {
  display: flex;
  justify-content: space-evenly;
}
